<section class="parallax-window" data-parallax="scroll" data-image-src="assets/img/header_bg.jpg" data-natural-width="1400" data-natural-height="470">
  <div class="parallax-content-1">
    <div class="animated fadeInDown">
      <h1>Agency suport</h1>
      <!-- <p>Ridiculus sociosqu cursus neque cursus curae ante scelerisque vehicula.</p> -->
    </div>
  </div>
</section>
<!-- End Section -->

<main>
  <div id="position">
    <div class="container">
      <ul>
        <li><a href="index">Home</a>
        </li>
        <li>Agency suport</li>
      </ul>
    </div>
  </div>
  <!-- End Position -->

  <div class="container margin_60">

    <div class="main_title">
      <h2>The agency that provided support for this program</h2>
      <!-- <p>The agency that provided support for this program</p> -->
    </div>

    <div class="row">
      <div class="col-md-4 wow fadeIn" data-wow-delay="0.1s">
        <div class="agency_list">
            <img src="assets/img/agency/rsu-fb-share-new.png" class="img-responsive img-rounded"/>
        </div>
      </div>
      <div class="col-md-4 wow fadeIn" data-wow-delay="0.2s">
        <div class="agency_list">
            <img src="assets/img/agency/logo-up4.png" class="img-responsive img-rounded"/>
        </div>
      </div>
      <div class="col-md-4 wow fadeIn" data-wow-delay="0.3s">
        <div class="agency_list">
          <img src="assets/img/agency/logo_feu.gif" class="img-responsive img-rounded"/>
        </div>
      </div>
    </div>
    <!-- End row -->
    <div class="row">
        <div class="col-md-4 wow fadeIn" data-wow-delay="0.4s">
          <div class="agency_list">
              <img src="assets/img/agency/DPUIC_Logo.png" class="img-responsive img-rounded"/>
          </div>
        </div>
        <div class="col-md-4 wow fadeIn" data-wow-delay="0.5s">
          <div class="agency_list">
              <img src="assets/img/agency/xnew_head20162.png.pagespeed.ic.56vHXg9rl1.png" class="img-responsive img-rounded"/>
          </div>
        </div>
        <div class="col-md-4 wow fadeIn" data-wow-delay="0.6s">
          <div class="agency_list">
            <img src="assets/img/agency/1200px-SuanSunandhaRajabhatUniversity_Logo.png" class="img-responsive img-rounded"/>
          </div>
        </div>
      </div>
    <!-- End row -->
    <div class="row">
        <div class="col-md-4 wow fadeIn" data-wow-delay="0.4s">
          <div class="agency_list">
              <img src="assets/img/agency/banner-PLU-59.png" class="img-responsive img-rounded"/>
          </div>
        </div>
        <div class="col-md-4 wow fadeIn" data-wow-delay="0.5s">
          <div class="agency_list">
              <img src="assets/img/agency/logo (1).png" class="img-responsive img-rounded"/>
          </div>
        </div>
        <div class="col-md-4 wow fadeIn" data-wow-delay="0.6s">
          <div class="agency_list">
            <img src="assets/img/agency/logo.png" class="img-responsive img-rounded"/>
          </div>
        </div>
      </div>
    <!-- End row -->
    <hr>
    
  </div>
  <!-- End Container -->
</main>