<main>
  <section id="hero" class="login">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3">
                <div id="login">
                      <div class="text-center">
                              <!-- <img src="img/logo_sticky.png" alt="Image" data-retina="true" > -->
                              <h4>Signup for guide</h4>
                          </div>
                          <hr>
                         <form>
                              <div class="form-group">
                                <label>Name</label>
                                  <input type="text" class=" form-control"  placeholder="First Name - Last Name">
                              </div>
                              <div class="form-group">
                                  <label>Sex</label>
                                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                      <input type="radio" name="sex" value="M">
                                      <label>Male</label>
                                  </div>
                                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                          <input type="radio" name="sex" value="F">
                                          <label>Female</label>
                                      </div>
                              </div>
                              <div class="form-group">
                                  <label><i class="icon-calendar-7"></i> Birthday</label>
                <input class="date-pick form-control" data-date-format="d M yyyy" type="text" readonly>
                              </div>
                              <div class="form-group">
                                <label>Nationality</label>
                                  <input type="text" class=" form-control"  placeholder="Nationality">
                              </div>
                              <div class="form-group">
                                      <label>ID Card.</label>
                                      <input type="text" class="form-control" placeholder="ID Card">
                              </div>
                              <div class="form-group">
                                      <label>Address #1</label>
                                      <textarea class="form-control" rows="5">

                                      </textarea>
                              </div>
                              <div class="form-group">
                                      <label>Address #2</label>
                                      <textarea class="form-control" rows="5">

                                      </textarea>
                              </div>
                              <div class="form-group">
                                      <label>Mobile Phone</label>
                                      <input type="text" class="form-control" placeholder="Mobile Phone">
                              </div>
                              <div class="form-group">
                                      <label>WeChat ID</label>
                                      <input type="text" class="form-control" placeholder="WeChat ID">
                              </div>
                              <div class="form-group">
                                  <label>Weibo 微博</label>
                                  <input type="text" class="form-control" placeholder="WeChat ID">
                              </div>
                              <div class="form-group">
                                      <label>Line ID</label>
                                      <input type="text" class="form-control" placeholder="Line ID">
                              </div>
                              <div class="form-group">
                                      <label>E-mail</label>
                                      <input type="email" class="form-control" placeholder="E-mail">
                              </div>
                              <div class="form-group">
                                  <label>Education</label>
                                  <div class="row">
                                      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                          <input type="radio" name="edu" value="">
                                          <label>Less than Bachelor</label>
                                      </div>
                                  </div>
                                  <div class="row">
                                      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                          <input type="radio" name="edu" value="">
                                          <label>Bachelor's Degree</label>
                                      </div>
                                  </div>
                                  <div class="row">
                                      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                          <input type="radio" name="edu" value="">
                                          <label>Other</label>
                                      </div>
                                      <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                                              <input type="text" class="form-control" value="">
                                              
                                          </div>
                              </div>
                              </div>
                              <div class="form-group">
                                      <label><i class="icon-calendar-7"></i> Guide Card Expire date</label>
                                      <input class="date-pick form-control" data-date-format="d M yyyy" type="text" readonly>
                              </div>
                              <div class="form-group">
                                  <label>Where are the training guides?</label>
                                  <div class="row">
                                      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                          <input type="radio" name="training" value="">
                                          <label>RANGSIT UNIVERSITY</label>
                                      </div>
                                  </div>
                                  <div class="row">
                                          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                              <input type="radio" name="training" value="">
                                              <label>The Far Eastern University</label>
                                          </div>
                                  </div>
                                  <div class="row">
                                          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                              <input type="radio" name="training" value="">
                                              <label>Phayao University (Bangkok) </label>
                                          </div>
                                  </div>
                                  <div class="row">
                                          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                              <input type="radio" name="training" value="">
                                              <label>DHURAKIJ PUNDIT University</label>
                                          </div>
                                      </div>
                                  <div class="row">
                                      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                          <input type="radio" name="training" value="">
                                          <label>Suan Dusit University</label>
                                      </div>
                                  </div>
                                  <div class="row">
                                      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                          <input type="radio" name="training" value="">
                                          <label>Suan Sunandha Rajabhat University</label>
                                      </div>
                                  </div>
                                  <div class="row">
                                      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                          <input type="radio" name="training" value="">
                                          <label>Phitsanulok University</label>
                                      </div>
                                  </div>
                                  <div class="row">
                                      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                          <input type="radio" name="training" value="">
                                          <label>Burapa university</label>
                                      </div>
                                  </div>
                                  <div class="row">
                                      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                          <input type="radio" name="training" value="">
                                          <label>Siam University</label>
                                      </div>
                                  </div>
                                  <div class="row">
                                          <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                              <input type="radio" name="training" value="">
                                              <label>Other</label>
                                          </div>
                                          <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                                                  <input type="text" class="form-control" value="">
                                                  
                                              </div>
                                  </div>
                                  <div class="form-group">
                                      <label>What color cards?</label>
                                       <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                              <input type="radio" name="color" value="">
                                              <label>Bronze Silver</label>
                                          </div>
                                          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                              <input type="radio" name="color" value="">
                                              <label>Bronze Gold</label>
                                          </div>
                                          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                  <input type="radio" name="color" value="">
                                                  <label>Pink</label>
                                              </div>
                                              <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                                      <input type="radio" name="color" value="">
                                                      <label>Other</label>
                                                  </div>
                                                  <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                                                          <input type="text" class="form-control" value="">
                                                          
                                                      </div>
                                  </div> 
                                  <div class="form-group">
                                      <label>Which area service are available?</label>
                                       <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                              <input type="radio" name="prov" value="">
                                              <label>Bangkok</label>
                                          </div>
                                          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                  <input type="radio" name="prov" value="">
                                                  <label>Pattaya</label>
                                              </div>
                                              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                      <input type="radio" name="prov" value="">
                                                      <label>Chiangmai</label>
                                                  </div>
                                                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                          <input type="radio" name="prov" value="">
                                                          <label>Phuket</label>
                                                      </div>
                                              <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                                      <input type="radio" name="prov" value="">
                                                      <label>Other</label>
                                                  </div>
                                                  <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                                                          <input type="text" class="form-control" value="">
                                                          
                                                      </div>
                                  </div> 
                                  <div class="form-group">
                                      <label>Work experience Group tour</label>
                                      <div class="row">
                                          <div class="col-lg-offset-2 col-md-offset-2 col-sm-offset-2 col-xs-offset-2 col-lg-2 col-md-2 col-sm-2 col-xs-2">
                                              
                                                  More than 5 years
                                              
                                          </div>
                                          <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                                              
                                                  3-4 years
                                              
                                          </div>
                                          <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                                                 
                                                      1-2 years
                                                 
                                              </div>
                                              <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                                                      
                                                          Less than year
                                                      
                                                  </div>
                                                  <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                                                          
                                                              None
                                                          
                                                      </div>
                                      </div>
                                      <div class="row">
                                              <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                                                 
                                                          Work experience Group tour
                                                  
                                              </div>
                                              <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 text-center">
                                                      <input type=radio name="work_experience1">
                                                  </div>
                                              <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                                                      <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 text-center">
                                                              <input type=radio name="work_experience1">
                                                          </div>
                                              </div>
                                              <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                                                      <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 text-center">
                                                              <input type=radio name="work_experience1">
                                                          </div>
                                                  </div>
                                                  <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                                                          <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 text-center">
                                                                  <input type=radio name="work_experience1">
                                                              </div>
                                                      </div>
                                                      <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                                                              <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 text-center">
                                                                      <input type=radio name="work_experience1">
                                                                  </div>
                                                          </div>
                                          </div>
                                          <div class="row">
                                                  <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                                                      
                                                              Experience as a Sitting Guide
                                                      
                                                  </div>
                                                  <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 text-center">
                                                          <input type=radio name="work_experience2">
                                                      </div>
                                                  <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                                                          <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 text-center">
                                                                  <input type=radio name="work_experience2">
                                                              </div>
                                                  </div>
                                                  <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                                                          <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 text-center">
                                                                  <input type=radio name="work_experience2">
                                                              </div>
                                                      </div>
                                                      <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                                                              <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 text-center">
                                                                      <input type=radio name="work_experience2">
                                                                  </div>
                                                          </div>
                                                          <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                                                                  <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 text-center">
                                                                          <input type=radio name="work_experience2">
                                                                      </div>
                                                              </div>
                                              </div>
                                              <div class="row">
                                                      <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                                                          
                                                                  Experience as a FIT Tutor
                                                          
                                                      </div>
                                                      <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 text-center">
                                                              <input type=radio name="work_experience3">
                                                          </div>
                                                      <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                                                              <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 text-center">
                                                                      <input type=radio name="work_experience3">
                                                                  </div>
                                                      </div>
                                                      <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                                                              <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 text-center">
                                                                      <input type=radio name="work_experience3">
                                                                  </div>
                                                          </div>
                                                          <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                                                                  <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 text-center">
                                                                          <input type=radio name="work_experience3">
                                                                      </div>
                                                              </div>
                                                              <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                                                                      <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 text-center">
                                                                              <input type=radio name="work_experience3">
                                                                          </div>
                                                                  </div>
                                                  </div>
                                  </div>
                                  <div class="form-group">
                                      <label>Experience</label>
                                      <textarea class="form-control" rows="5"></textarea>
                                  </div>
                                   <div class="form-group">
                                      <label>Additional skills</label>
                                      <textarea class="form-control" rows="5"></textarea>
                                  </div>
                                  <div class="form-group">
                                      <label>Language skills</label>
                                      <div class="row">
                                          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                              <input type="checkbox">
                                              <label>Chinese</label>
                                          </div>
                                      </div>
                                      <div class="row">
                                              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                  <input type="checkbox">
                                                  <label>Engilish</label>
                                              </div>
                                          </div>
                                          <div class="row">
                                                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                      <input type="checkbox">
                                                      <label>Spanish</label>
                                                  </div>
                                              </div>
                                              <div class="row">
                                                      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                          <input type="checkbox">
                                                          <label>French</label>
                                                      </div>
                                                  </div>
                                                  <div class="row">
                                                          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                              <input type="checkbox">
                                                              <label>Japanese</label>
                                                          </div>
                                                      </div>
                                                      <div class="row">
                                                              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                                  <input type="checkbox">
                                                                  <label>Korean</label>
                                                              </div>
                                                          </div>
                                                      <div class="row">
                                                              <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                                                      <input type="radio" name="color" value="">
                                                                      <label>Other</label>
                                                                  </div>
                                                                  <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                                                                          <input type="text" class="form-control" value="">
                                                                          
                                                                      </div>
                                                      </div>
                                  </div>
                                  <div class="form-group">
                                      <label>People can contact in case of emergency (Name - Phone number)</label>
                                      <input type="text" class="form-control" >
                                  </div>
                                  <div class="form-group">
                                          <label>People who know you well But not family (name - phone number)</label>
                                          <input type="text" class="form-control" >
                                      </div>
                              </div>
                              <div id="pass-info" class="clearfix"></div>
                              <button class="btn_full">Signup</button>
                          </form>
                      </div>
              </div>
          </div>
      </div>
  </section>
</main><!-- End main -->